*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
UserInterfaceState.xcuserstate

HelloWorld.xcodeproj/project.xcworkspace/xcuserdata/Kiko.xcuserdatad/UserInterfaceState.xcuserstate
